parameter_defaults:
  NovaImage: atomic-image
  # Defaults to 'tripleoupstream'.  Specify a local docker registry
  # Example: 192.0.2.1:8787/tripleoupstream
  DockerNamespace: 192.168.24.1:8787/tripleoupstream
  # Enable local Docker registry
  DockerNamespaceIsRegistry: true
  DockerAgentImage: heat-docker-agents:rdo-latest
  # Docker containers
  DockerNovaComputeImage: centos-binary-nova-compute:rdo-latest
  DockerLibvirtImage: centos-binary-nova-libvirt:rdo-latest
  DockerOpenvswitchImage: centos-binary-neutron-openvswitch-agent:rdo-latest
  DockerOvsVswitchdImage: centos-binary-openvswitch-vswitchd:rdo-latest
  DockerOpenvswitchDBImage: centos-binary-openvswitch-db-server:rdo-latest