#!/bin/bash

set -eux

### --start_docs
## Prepare the undercloud for deploying the containerized compute node
## ===================================================================

## note:: In progress documentation is available at https://etherpad.openstack.org/p/tripleo-containers-work
##::

## Prepare Your Environment
## ------------------------

## * Source in the undercloud credentials.
## ::

source {{ working_dir }}/stackrc

{% if containerized_compute %}
## * Download the Cloud Atomic Image and upload to glance
## ::

wget {{ container_url }}
gunzip "{{ container_image }}.gz"
glance image-create --name atomic-image --file {{ container_image }} --disk-format qcow2 --container-format bare

{% endif %}

{% if release != "master" %}
## note:: On TripleO master, docker and docker-registry are installed and enabled. On older releases the following may be required:
## ::

sudo yum install -y docker
sudo systemctl enable docker
sudo systemctl start docker
sudo systemctl enable docker-registry
sudo systemctl start docker-registry
sudo easy_install docker-py

{% endif %}

## * Checkout TripleO-Common
## ::
git clone https://github.com/openstack/tripleo-common.git

## * Create Overcloud Containers Uploads template
## ::

bash -c 'cat <<EOF > /home/stack/tripleo-common/contrib/overcloud_containers.yaml
# put this in /home/stack/tripleo-common/contrib/
uploads:
    - imagename: tripleoupstream/heat-docker-agents:mitaka
      uploader: docker
      pull_source: docker.io
      push_destination: localhost:8787
    - imagename: tripleoupstream/centos-binary-nova-compute:mitaka
      uploader: docker
      pull_source: docker.io
      push_destination: localhost:8787
    - imagename: tripleoupstream/centos-binary-nova-libvirt:mitaka
      uploader: docker
      pull_source: docker.io
      push_destination: localhost:8787
    - imagename: tripleoupstream/centos-binary-keystone:mitaka
      uploader: docker
      pull_source: docker.io
      push_destination: localhost:8787
    - imagename: tripleoupstream/centos-binary-neutron-openvswitch-agent:mitaka
      uploader: docker
      pull_source: docker.io
      push_destination: localhost:8787
    - imagename: tripleoupstream/centos-binary-openvswitch-vswitchd:mitaka
      uploader: docker
      pull_source: docker.io
      push_destination: localhost:8787
    - imagename: tripleoupstream/centos-binary-openvswitch-db-server:mitaka
      uploader: docker
      pull_source: docker.io
      push_destination: localhost:8787
EOF'



## * Populate the docker registery
## ::

sudo python -c "from tripleo_common.image.image_uploader import ImageUploadManager ; ImageUploadManager(['/home/stack/tripleo-common/contrib/overcloud_containers.yaml']).upload()"

## * Configure the environments/docker.yaml, this is done automatically.
## ::

cat /home/stack/containers-default-parameters.yaml

## * Rebuild heat-agents image and push to local registry
## ::

sudo docker build -t "localhost:8787/tripleoupstream/heat-docker-agents:newton" --build-arg OPENSTACK_RELEASE=newton /home/stack/tripleo-common/heat_docker_agent/
sudo docker push localhost:8787/tripleoupstream/heat-docker-agents:newton

## * Update TripleO-Common
pushd tripleo-common

sudo rm -Rf /usr/lib/python2.7/site-packages/tripleo_common*
sudo python setup.py install
sudo cp /usr/share/tripleo-common/sudoers /etc/sudoers.d/tripleo-common
sudo systemctl restart openstack-mistral-executor
sudo systemctl restart openstack-mistral-engine # this loads the actions via entrypoints
sudo mistral-db-manage populate # make sure the new actions got loaded
mistral action-list | grep tripleo
for workbook in workbooks/*.yaml; do
    mistral workbook-update $workbook
done

popd

## * Get the journal logs for docker
sudo journalctl -u docker > docker_journalctl.log


### --stop_docs
